body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #0f172a, #1e293b);
  color: white;
}

.container {
  text-align: center;
  padding-top: 60px;
}

h1 {
  color: #38bdf8;
  margin-bottom: 30px;
}

.card-container {
  perspective: 1000px;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.card {
  width: 350px;
  height: 200px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  cursor: pointer;
}

.card.flipped {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #334155;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  backface-visibility: hidden;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
}

.card-front {
  font-size: 20px;
}

.card-back {
  transform: rotateY(180deg);
  background: #0284c7;
}

.buttons {
  margin-top: 100px; 
}


button {
  padding: 10px 15px;
  margin: 0 10px;
  border: none;
  border-radius: 6px;
  background-color: #38bdf8;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #0284c7;
}

.progress {
  margin-top: 15px;
  color: #94a3b8;
}
